/*.blackStone {*/
  /*background: url(svg/black.svg);*/
/*}*/

/*.whiteStone{*/
  /*background: url(svg/white.svg);*/
/*}*/

/*.square {*/
  /*position: absolute;*/
/*}*/

/*.boardContainer {*/
  /*position: relative;*/
  /*width: 70%;*/
  /*height: 70%;*/
  /*margin: 0 auto;*/
/*}*/

.status_bar {
  width: 550px;
  height: 50px;
  margin: 10px auto;
}

.level {
  font-size: 30px;
}
.restart {
  float: right;
}
