body {
  background: white;
  margin-top: 10px;
}

.container {
  width: 600px;
  margin: 0 auto;
}

.status_bar {
  width: 100%;
  height: 50px;
  text-align: center;
  font-family: sans-serif, sans-serif;
}

.wgo-board {
  margin-left: 0;
}

.viewport {
  position: relative;
  width:100%;
  height: 450px;
  overflow: hidden;
}

.port {
  position: absolute;
  pointer-events:none;
  z-index: 500;
  height:450px;
  width: 100%;
  /*-webkit-box-shadow: inset 0px 0px 57px 36px rgba(255,255,255,1);*/
  /*-moz-box-shadow: inset 0px 0px 57px 36px rgba(255,255,255,1);*/
  box-shadow: inset 0px 0px 97px 56px rgba(255,255,255,1);
}

#restart_button{
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto
}

/*disable selecting*/
div, img {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
