.blackStone {
  background: url(svg/black.svg);
}

.whiteStone{
  background: url(svg/white.svg);
}

.square {
  position: absolute;
}

.boardContainer {
  position: relative;
  width: 400px;
  height: 400px;
  margin-left: 10%;
}
